.resume {
    background-color: #FFF;
    width: 820px;
    height: 700px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
    overflow-y: hidden;
    &__inner {
        padding: 30px 110px 35px 70px;
    }
    &__subtitles {
        padding-left: 25px;        
    }
    &__subtitle {
        font-family: Poppins;
        font-size: 27.737px;
        font-style: normal;
        font-weight: 500;
        line-height: 46.229px; 
        letter-spacing: 0.693px;
        padding-left: 10px;
        display: inline-block;
        margin-bottom: 20px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 28px;
            height: 28px;
            left: -25px;
            top: 7px;
        }
        &:nth-child(1)::before {
            background-image: url("../../../images/icons/resume/education.svg");
        }
        &:nth-child(2) {
            margin-left: 190px;
        }
        &:nth-child(2)::before {
            background-image: url("../../../images/icons/resume/eperience.svg");
        }
    }
    &__history {
        display: flex;
        flex-wrap: wrap;
        gap: 25px 55px;
    }
    &__item {
        width: 290px;
        height: 115px;
        border-radius: 10px;
        background: #FFE3BF;
        padding: 20px 0 25px 10px;
        font-size: 13px;
        font-style: normal;
        line-height: normal;
    }
    &__date {
        color: rgba(26, 16, 3, 0.50);
        font-weight: 400;
        margin-bottom: 8px;
    }
    &__post {
        font-weight: 600;
        margin-bottom: 10px;
    }
    &__text {
        font-weight: 500;
        margin-top: 8px;
    }
    &__skills {
        height: 100%;
        background: #F8FBFB;
        padding: 0px 110px 0px 70px;
        display: flex;
    }
    &__hard {
        width: 290px;
        max-width: 100%;
        &--title {
            font-family: Poppins;
            font-size: 27px;
            font-style: normal;
            font-weight: 500;
            line-height: 46px; /* 166.667% */
            letter-spacing: 0.693px;
            margin-bottom: 10px;
        }
    }
    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
            &--item {
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; 
            letter-spacing: 0.24px;
            display: inline-flex;
            padding: 4px 8px;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            background: #E1E8EF;
        }
        &--soft {
            display: flex;
            justify-content: flex-start;
        }
    }
    &__soft {
        width: 270px;
        max-width: 100%;
        margin-left: 58px;
    }
}

.lighter {
    background-color: #FFEED9;
}