body {
    background: #F2F5F9;
    font-family: Raleway;
    color: #000;
}

.wrapper {
    width: 1240px;
    height: 500px;
    margin: 30px auto;
}

.content {
    display: flex;
}
.info {
    width: 820px;
    max-width: 100%;
}
